body,
header,
table,
.footer p {
  color: #adbac7;
  background-color: #22272e;
  max-width: 1080px;
}

h2,
th,
td {
  color: #adbac7;
  border-color: #373e47;
}

table {
  border-color: #373e47;
  color: #adbac7;
}

a,
.btn {
  color: #58a6ff;
  border-color: #58a6ff;
}

a:hover,
.btn:hover {
  color: #1f6feb;
  border-color: #1f6feb;
}

select,
#sum-label {
  color: #adbac7;
  background-color: #373e47;
  border-color: #444c56;
}

#balance-input {
  color: #adbac7;
  background-color: #444c56;
}

.btn-primary {
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #22272e;
  color: #8b949e;
}

body,
header,
table,
.footer p {
  color: #adbac7;
  background-color: #22272e;
  max-width: 1080px;
}

h2,
th,
td {
  color: #adbac7;
  border-color: #373e47;
}

table {
  border-color: #373e47;
  color: #adbac7;
}

#hm24 {
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #373e47;
}

#hm24 button {
  color: #adbac7;
  border: 1px solid #58a6ff;
  background-color: #22272e;
  padding: 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#hm24 button:hover {
  background-color: #58a6ff;
  color: #22272e;
}

#hm24 #user-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#hm24 #user-form input {
  color: #adbac7;
  background-color: #373e47;
  border: 1px solid #444c56;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#user-list {
  list-style-type: none;
  padding: 0;
}

#user-list li {
  background-color: #373e47;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #444c56;
  border-radius: 0.25rem;
}

#user-list button {
  margin-left: 1rem;
}

